.bodyContent{
  width: 1200px;
  margin:0 auto;
  margin-top:5px;
  background: #fff;
}
.bg{
  height: 319px!important;
  width: 100%;
  background-position:buttom;
}

.ant-card-head-title{
  text-align: left;
  font-size: 16px!important;
}
.ant-card-body{
  text-align: left;
  padding: 10px!important;
}
.ant-card-head{
  padding: 0 10px!important;
}

.hide{
  display: none;
}