
.aboutContent{
  padding-top: 5px;
  width: 1024px;
  margin:0 auto;
  padding-bottom: 30px;
}

.pText{
  text-align: left;
  font-size:14px;
  line-height: 25px;
  text-indent:2em;
}

.textPanel{
  margin-bottom: 30px;
}