.newsContent{
  width: 1200px;
  margin:0 auto;
  margin-top:5px;
  padding-bottom: 30px;
  background: #fff;
  padding: 10px 20px;
  text-align: left;
}
.colapse{
    font-size: 16px;
}

.newsContent h1{
    text-align: left;
    margin-top:10px;
}

.newsContent p{
    text-indent:2em;
}

.newsContent .date{
    text-align: right;
    color: #333;
}